<style>
* {
  box-sizing: border-box;
}

/* Schrift */
        body {
            font-family: 'Georgia', serif; /* Elegante und natürliche Schriftart */
            margin: 0;
            padding: 0;
            display: 100%;
            height: 100vh;
            color: #4a4a4a;
            background-color: #f9f8f4; /* Warmes, neutrales Hintergrund */
        }
       h1 {
            font-size: 300%;
            color: #304d35; /* Dunkles Grün */
        }

        p {
            font-size: 110%;
            color: #4a4a4a;
        }
/* Gruppen */
	main {
            flex: 1;
            overflow-y: auto;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
/* Tabellen */
        table {
          border-collapse: collapse;
          width: 80%;
        }
        td, th {
          border: 1px solid #dddddd;
          padding: 8px;
        }
/* Links */		
        a {
          color: Black;
             }
</style>
